*{
    padding: 0;
    margin: 0;
}
/* navbar */
.nav{
    display: flex;
    align-items: center;
    position: fixed;
    border-bottom: 1px solid bisque;
    height: 5rem;
    background: white;
    width: 100%;
}
.logo{
    width: 50%;
}
.logo img{
    width: 13%;
   
   margin-left: 1rem;
}
.events{
    width: 40%;
}
.events ul{
    display: flex;
    
}
.events ul li{
list-style: none;
margin: 1rem;
}
.events ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.4rem;
    transition: all 0.5s ease-out;
    padding: 10px 3px;
}
.events ul li a:hover{
  color: rgb(232, 177, 110); 
  border-bottom:2px solid bisque ;
  font-size: 1.5rem;
}
.btn{
    height: 3rem;
    width:10%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
    border-radius: 15px;
  background: bisque;

}
.btn a{
    text-decoration: none;
    color:black;
    font-weight: bolder;
    font-size: 1.1rem;
}
.btn:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.main{
    height:100vh;
    width: 100%;
    background-image: url(bgblue.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
}


.boxes{
    width: 39rem;
    height: 40rem;
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 20px;
 
}
.box:hover{
transform: scale(1.1);
transition: all 0.1s ease-out;
}
.boxes a{
    text-decoration: none;
}

.box{
    width: 11rem;
    height: 11rem;
    border: 2px solid black;
    margin: 0.5rem;
    border-radius: 10px;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: aliceblue;
}

 .box h2{
font-size: 1rem;
margin: 0.5rem;
color: black;
 }

 .box p{
    font-size: 0.7rem;
    margin: 0.1rem;
    color:black;
 }
 .box i{
    color:rgb(91, 168, 201);
    font-size: 1.3rem;
 }

.btnn{
    width: 9rem;
    height: 3rem;
    border-radius: 15px;
    background-color: blanchedalmond;
    margin-bottom: 1rem;
    border:2px solid white;
    font-weight: bold;
    cursor: pointer;
    color:black;
}
.btnn:hover{
    transform: scale(1.1);
}
.content{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.bgvideo{
position: fixed;
right: 0;
left: 0;
z-index: -1;
}

.content h1{
    font-size: 4rem;
    color: white; 
}
.content div{
    margin: 5rem;
}

.content button{
    width: 18rem;
    height: 3rem;
    border-radius: 20px;
    background-color:#2F75B8;
    color: white;
    border: none;
    font-weight: bolder;
    font-size: 1.3rem;
    margin: 5rem;
    margin-top: 2rem;
    background-color: rgb(91, 168, 201);
}
.content button:hover{
    transform: scale(1.1);
}
.btn2:hover{
    transform: scale(1.1);
}
.photo{
    width: 100%;
    height: 70vh;
    background: wheat;
    background: url(photo.webp);
}

.footer{
    width: 100%;
    height: 55vh;
    background-color: black;
}

.link1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    height: 60%;
    border-bottom:2px solid white;
    margin-left: 4rem;
    margin-right: 4rem;
}
.link01{
    width: 50%;
}
.link01 a{
    font-size: 1.2rem;
    text-decoration: none;
    color:white;
    margin: 2rem;
}
.link2{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color:black;
    height: 40%;
}
.link03{
    width: 50%;
    margin-left: 4rem;
}

.link02 a i{
font-size: 1.6rem;
margin: 1rem;
margin-right: 1rem;
color: white;
}
.link02 a i:hover{
transform: scale(1.2);
}
.link03 a{
    font-size: 1.2rem;
    text-decoration: none;
    color:white;
    margin: 2rem;
}
.link04 a{
    margin: 1rem;
    margin-right: 1rem;
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
    margin-right: 4rem;
}
